---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Backend Engineer",
    company: "Mercadona IT",
    description:
      "Digitalizo los procesos físicos relacionados con la parte de recursos humanos. Aunque todavía no tengo el perfil de Tech Lead, aporto bastantes ideas de cómo afrontar los problemas y conseguir mejores resultados."
  },
  {
    date: "Marzo 2022 - Noviembre 2023",
    title: "Backend Engineer",
    company: "NTT Data",
    description:
      "Como proveedor, colaboro con el cliente 'Consum' a digitalizar su módulo de Socios. Principalmente, diseño sus APIs y sus procesos batch para construir y compartir ficheros con el fin de integrar todos sus módulos entre sí.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
